Configuracion/flows.json
[
    {
        "id": "8f2744ceac2218ec",
        "type": "tab",
        "label": "Proyecto Capstone",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f5ed84b2450bca9b",
        "type": "mqtt in",
        "z": "8f2744ceac2218ec",
        "name": "",
        "topic": "SIC/IoT/CarsCountConection1",
        "qos": "2",
        "datatype": "auto",
        "broker": "9e6e4b27dc80767d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 200,
        "wires": [
            [
                "1264cccbe80c266b"
            ]
        ]
    },
    {
        "id": "7b7336eda38b7a50",
        "type": "mqtt in",
        "z": "8f2744ceac2218ec",
        "name": "",
        "topic": "SIC/IoT/CarsCountConection2",
        "qos": "2",
        "datatype": "auto",
        "broker": "9e6e4b27dc80767d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 320,
        "wires": [
            [
                "dae6490435d3b346"
            ]
        ]
    },
    {
        "id": "be4b608d5ad7ad3b",
        "type": "debug",
        "z": "8f2744ceac2218ec",
        "name": "Conexi贸n 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 200,
        "wires": []
    },
    {
        "id": "1264cccbe80c266b",
        "type": "function",
        "z": "8f2744ceac2218ec",
        "name": "",
        "func": "msg.payload =Number(msg.payload);\nmsg.topic.Semaforo1 = msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 200,
        "wires": [
            [
                "be4b608d5ad7ad3b",
                "b78392444704e1f6"
            ]
        ]
    },
    {
        "id": "dae6490435d3b346",
        "type": "function",
        "z": "8f2744ceac2218ec",
        "name": "",
        "func": "msg.payload =Number(msg.payload);\nmsg.topic.Semaforo2 = msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 320,
        "wires": [
            [
                "1989c6e2b0a805f0",
                "cebf5a1a32954187"
            ]
        ]
    },
    {
        "id": "1989c6e2b0a805f0",
        "type": "debug",
        "z": "8f2744ceac2218ec",
        "name": "Conexi贸n 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 320,
        "wires": []
    },
    {
        "id": "e0f2d43d11fd5abf",
        "type": "mqtt in",
        "z": "8f2744ceac2218ec",
        "name": "",
        "topic": "SIC/IoT/MonoxideSensor",
        "qos": "2",
        "datatype": "auto",
        "broker": "9e6e4b27dc80767d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 400,
        "wires": [
            [
                "40564d2224095d12"
            ]
        ]
    },
    {
        "id": "40564d2224095d12",
        "type": "function",
        "z": "8f2744ceac2218ec",
        "name": "",
        "func": "msg.payload =Number(msg.payload);\nmsg.topic.Monoxide = msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 400,
        "wires": [
            [
                "322fc36d3ed00ed8",
                "89e2e311ab6e92c2"
            ]
        ]
    },
    {
        "id": "322fc36d3ed00ed8",
        "type": "debug",
        "z": "8f2744ceac2218ec",
        "name": "Monoxido",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 400,
        "wires": []
    },
    {
        "id": "b78392444704e1f6",
        "type": "mqtt out",
        "z": "8f2744ceac2218ec",
        "name": "",
        "topic": "SIC/IoT/CarsCountOutput1",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9e6e4b27dc80767d",
        "x": 680,
        "y": 140,
        "wires": []
    },
    {
        "id": "cebf5a1a32954187",
        "type": "mqtt out",
        "z": "8f2744ceac2218ec",
        "name": "",
        "topic": "SIC/IoT/CarsCountOutput2",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9e6e4b27dc80767d",
        "x": 680,
        "y": 260,
        "wires": []
    },
    {
        "id": "0b32aac589bcc535",
        "type": "mqtt in",
        "z": "8f2744ceac2218ec",
        "name": "",
        "topic": "SIC/IoT/NoiseSensor",
        "qos": "2",
        "datatype": "auto",
        "broker": "9e6e4b27dc80767d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 500,
        "wires": [
            [
                "fcb083f67b059cd7"
            ]
        ]
    },
    {
        "id": "fcb083f67b059cd7",
        "type": "function",
        "z": "8f2744ceac2218ec",
        "name": "",
        "func": "msg.payload =Boolean(msg.payload);\nmsg.topic.Noise = msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 500,
        "wires": [
            [
                "cbb1f3311e598f70",
                "d4c5f77456beca17"
            ]
        ]
    },
    {
        "id": "cbb1f3311e598f70",
        "type": "debug",
        "z": "8f2744ceac2218ec",
        "name": "Ruido",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 500,
        "wires": []
    },
    {
        "id": "89e2e311ab6e92c2",
        "type": "ui_gauge",
        "z": "8f2744ceac2218ec",
        "name": "",
        "group": "cdd3770292fa6695",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "compass",
        "title": "Medici贸n de Monoxido",
        "label": "CO",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 660,
        "y": 440,
        "wires": []
    },
    {
        "id": "d4c5f77456beca17",
        "type": "ui_chart",
        "z": "8f2744ceac2218ec",
        "name": "",
        "group": "cdd3770292fa6695",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Emisi贸n Sonora",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#da2525",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 640,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "9e6e4b27dc80767d",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "cdd3770292fa6695",
        "type": "ui_group",
        "name": "Mediciones",
        "tab": "64f22e2b346a51c5",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "64f22e2b346a51c5",
        "type": "ui_tab",
        "name": "ProyectoCapstone",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]